<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>313673384312-ptkbo5f7el2gaho7chdk31s26bo3hl71.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.313673384312-ptkbo5f7el2gaho7chdk31s26bo3hl71</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>313673384312-6ii8snd849fjs0og64trsvklb24rnqot.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAx1sUQw5muDBvVAR-hXEFeA-fH5YR0D0U</string>
	<key>GCM_SENDER_ID</key>
	<string>313673384312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ekoios.rockwars</string>
	<key>PROJECT_ID</key>
	<string>rockwars-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>rockwars-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313673384312:ios:e750e68784cedf9e44c88d</string>
</dict>
</plist>